---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$red-color:       #D63232;
$red-color-light: lighten($red-color, 40%);
$red-color-dark:  darken($red-color, 25%);

// Print variables

$print-font-size:     14pt;
$print-blocquote:     12pt;
$print-first-line:    16pt;
$print-first-letter:  80pt;
$print-h1-size:       64pt;
$print-h3-size:       36pt;
$print-h4-size:       24pt;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@media print {

    .site-title, .site-nav, .sidebar, .site-footer, .sidebar-menu, .column, .site-header {
    	display: none;
    }

    .post-content, .page-content {
    	width: 8.27in;
    	padding: 0;
        margin: 0;
    	float: none;
    }

    .post-title {
    	/*text-align: center;*/
    }

    body {
    	background-color: #FFF;
    	font-family: Georgia;
        font-size: $print-font-size;
        line-height: 28pt;
    }

    img {
		max-width: 100%;
	}

	@page {
		margin: 1.1in 1.1in 1.1in 0.85in;
	}

	.highlighter-rouge, .highlight {
		display: none;
	}

	hr {
		page-break-after: always;
	}

    /*div#post-content h1, div#post-content h2, div#post-content h3, div#post-content h4 {
        page-break-after: avoid;
        break-after: avoid-page;
    }*/

	h1.post-title {
		page-break-before: always;
        font-size: $print-h1-size;
        font-family: "Mathlete-Bulky";
        text-align: center;
        background-image: url(/images/arabesco.png);
        background-position: center center;
        background-repeat: no-repeat;
        /*background-size: 251px 227px;*/
        /*background-size: 262px 237px;*/
        background-size: 325px 300px;
        padding: 125px;
	}

    div.post-content h3 {
        page-break-after: avoid;
        break-after: avoid-page;
    }

    div.post-content h3 {
        font-size: $print-h3-size;
        font-family: "Mathlete-Bulky";
        padding-top: 50px;
        padding-bottom: 25px;
        page-break-after: avoid;
        break-after: avoid-page;
    }

    div.post-content h4 {
        font-size: $print-h4-size;
        font-family: "Mathlete-Bulky";
        padding-top: 35px;
        padding-bottom: 10px;
        page-break-after: avoid;
        break-after: avoid-page;
    }

	table, .alertbox {
		page-break-inside: avoid;
	}

    #hideme {
        display: none;
    }

    header, h1, div, blockquote.alertbox, blockquote.missingbox
    {
        & + p::first-letter {
            font-size: $print-first-letter;
            font-family: "Archistico";
            float: left;
            line-height: 80px;/*era 60*/
            padding-top: 18px;
            padding-right: 8px;
            padding-left: 3px;
        }
        
        & + p::first-line {
            font-variant: small-caps;
            font-size: $print-first-line;
        }
    }
    
    div.post-content h3 { /* It is targeting the right element, but the page-break avoid does not work*/
        & + p {
            page-break-after: avoid;
            break-after: avoid-page;
        }
    }

    blockquote {
        border-left: 3px dotted $text-color;
        font-size: $print-blocquote;
        font-style: normal;
        color: $text-color;
    }

    p {
        widows: 3;
        orphans: 3;
    }
}