<div class="sidebar column left">
	<div>
		{% if page.sidebar == "doc" or layout.sidebar == "doc" %}

			<p>Table of Contents</p>
			<ol class="sidebar-menu">

			{% for doc in site.docs %}
				<li>

				{% if doc.hide %}

					{{ doc.title }}

				{% else %}

					<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

				{% endif %}

				</li>
			{% endfor %}

			</ol>

		{% elsif page.sidebar == "people" or layout.sidebar == "people" %}

			<p>With the help of...</p>
			<ul class="sidebar-menu">

			{% for person in site.people %}
				<li><a href="{{ person.url | prepend: site.baseurl }}">{{ person.title }}</a></li>
			{% endfor %}

			</ul>

		{% elsif page.sidebar == "log" or layout.sidebar == "log" %}

			<p>Project Logs:</p>
			<ul class="sidebar-menu">

			{% for log in site.logs %}
				<li><a href="{{ log.url | prepend: site.baseurl }}">{{ log.title }}</a></li>
			{% endfor %}

			</ul>

		{% else %}

			<h1>Sidebar not working</h1>

		{% endif %}

	</div>
</div>