<div class="sidebar column left">
	<div>
		{% if page.sidebar == "doc" or layout.sidebar == "doc" %}

			<ol class="sidebar-menu">

			<p class="doctitle">Abstract</p>
			
			<p class="doctitle"><a href="/docs/introduction.html">Introduction</a></p>

			<p class="doctitle">Needs</p>

			{% for doc in site.docs %}

				{% if doc.section == "intro" %}

					<li>

					{% if doc.hide %}

						{{ doc.title }}

					{% else %}

						<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

					{% endif %}

					</li>

				{% endif %}

			{% endfor %}

			<p class="doctitle">Development</p>

			{% for doc in site.docs %}

				{% if doc.section == "dev" %}

					<li>

					{% if doc.hide %}

						{{ doc.title }}

					{% else %}

						<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

					{% endif %}

					</li>

				{% endif %}

			{% endfor %}

			<p class="doctitle">Evaluation</p>

			{% for doc in site.docs %}

				{% if doc.section == "eval" %}

					<li>

					{% if doc.hide %}

						{{ doc.title }}

					{% else %}

						<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

					{% endif %}

					</li>

				{% endif %}

			{% endfor %}

			<p class="doctitle">Conclusion</p>

			{% for doc in site.docs %}

				{% if doc.section == "conc" %}

					<li>

					{% if doc.hide %}

						{{ doc.title }}

					{% else %}

						<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

					{% endif %}

					</li>

				{% endif %}

			{% endfor %}

			<p class="doctitle">Future directions</p>

			{% for doc in site.docs %}

				{% if doc.section == "fut" %}

					<li>

					{% if doc.hide %}

						{{ doc.title }}

					{% else %}

						<a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>

					{% endif %}

					</li>

				{% endif %}

			{% endfor %}

			<p class="doctitle"><a href="/docs/references.html">References</a></p>

			<p class="doctitle">[Print PDF]</p>

			</ol>

		{% elsif page.sidebar == "people" or layout.sidebar == "people" %}

			<p>With the help of...</p>
			<ul class="sidebar-menu">

			{% for person in site.people %}
				<li><a href="{{ person.url | prepend: site.baseurl }}">{{ person.title }}</a></li>
			{% endfor %}

			</ul>

		{% elsif page.sidebar == "log" or layout.sidebar == "log" %}

			<p>Project Logs:</p>
			<ul class="sidebar-menu">

			{% for log in site.logs %}
				<li><a href="{{ log.url | prepend: site.baseurl }}">{{ log.title }}</a></li>
			{% endfor %}

			</ul>

		{% else %}

			<h1>Sidebar not working</h1>

		{% endif %}

	</div>
</div>