---
layout: default
sidebar: no
---

<article class="post">

  <div class="post-content full">
    
	<header class="post-header">
	  <h1 class="post-title">{{ page.title }}</h1>
	</header>
    
    <p><strong>Where: </strong>{{ page.where }}</p>
	<p><strong>Participants: </strong>Gui Bueno{% for item in page.participants %}, {{ item }}{% endfor %}</p>
	<p><strong>Duration: </strong>{{ page.duration }}</p>
	<p><strong>Topics:</strong></p>
	<ul>
	{% for item in page.topics %}
		<li>{{ item in page.topics }}</li>
	{% endfor %}
	</ul>

	{{ content }}

	{% if page.results %}
		<p><strong>Results:</strong></p>
		<ul>
		{% for item in page.results %}
			<li>{{ item in page.results }}</li>
		{% endfor %}
		</ul>
	{% endif %}

  </div>

</article>