---
layout: default
sidebar: people
---
<article class="post">

  <div class="post-content">

	<header class="post-header">
	  <h1 class="post-title">

	  	{% if page.website %}

		  	<a href="{{ page.website }}">{{ page.title }}</a>

	  	{% else %}

		  	{{ page.title }}

	  	{% endif %}

	  </h1>
	  <p><strong>Role:</strong> {{ page.role }}</p>
	  
	  {% if page.bio %}
	  <strong>Bio:</strong> {{ page.bio }}
	  {% endif %}
	</header>

  	{% if page.meetings %}

  		<p><strong>Meetings:</strong></p>

	  	<ul>

		  	{% for meetings in site.meetings reversed %}

		  		{% for item in meetings.participants %}

			    	{% if item == page.title %}

			    		<li><a class="log-link" href="{{ meetings.url | prepend: site.baseurl }}">[{{ meetings.date | date: "%b %-d, %Y" }}] {{ meetings.title }}</a></li>

			    	{% endif %}

			    {% endfor %}
		    
		    {% endfor %}

	    </ul>

  	{% endif %}

  	{% if page.contributions %}

  		<p><strong>Contributions:</strong></p>

	  	{{ content }}

	{% endif %}

  </div>

</article>