---
layout: revealjs-default
---
<section>
    <section data-autoslide="0">
        <h1>{{ page.title }}</h1>
        <p>{{ page.goal }}</p>
        <p><a href="#" class="navigate-right">Start</a></p>       
        <p><a href="#" class="navigate-down">Why?</a></p>
    </section>
    <section data-autoslide="0">
            <h1>Why?</h1>
            <ol>
            	{% for item in page.why %}
                	<li style="font-size: 20pt">{{ item }}</li>
                {% endfor %}
            </ol>
        <p><a href="#" class="navigate-right">Start</a></p>
    </section>
</section>
<section data-autoslide="2000">
	Repeat what you hear. As fast as you can.
</section>

{% for item in page.content %}
<section>
	<section>
		<blockquote>
		{{ item.center }}
		</blockquote>
		<p>{{ item.translation }}</p>
	</section>
	<section>
		<blockquote>
		{{ item.center }}
		</blockquote>
		<p>{{ item.translation }}</p>
	</section>
	<section>
		<blockquote>
		{{ item.variable }}
		</blockquote>
		<p>{{ item.transcript }}</p>
	</section>
	<section>
		<blockquote>
		{{ item.variable }}
		</blockquote>
		<p>{{ item.transcript }}</p>
	</section>
</section>
{% endfor%}