---
layout: default
sidebar: log
---
<article class="post">

  <div class="post-content">

	<header class="post-header">
	  <h1 class="post-title">What's going on?</h1>
	</header>

		<p>This is <strong>{{ page.title }}</strong> (started {{ page.date | date: "%B %-d" }})</p>
		<p>I'm working on my critical goals for this week, which are:</p>

		<ul>

			{% for item in page.goals %}

				<li><strong>{{ item in page.goals }}</strong></li>

			{% endfor %}

		</ul>

		<p>Specifically, my tasks are:</p>

		<ul>
			
			{% for item in page.done %}

				<li class="done">{{ item in page.done }}</li>

			{% endfor %}

			{% for item in page.todo %}

				<li class="todo">{{ item in page.todo }}</li>

			{% endfor %}

		</ul>

		<p>In our next class, I'll be in the <strong>{{ page.nextclass }}</strong> group.

		{{ content }}

  </div>

</article>