---
layout: default
sidebar: log
---
<article class="post">

  <div class="post-content">

	<header class="post-header">
	  <h1 class="post-title">What's going on?</h1>
	</header>

		<p>This is <strong>{{ page.title }}</strong> (started {{ page.date | date: "%B %-d" }})</p>
		<p>According to the thesis course <a href="https://docs.google.com/spreadsheets/d/1IlUJz_oRrSJqt4YnRX1q69KQpWYzuFPIUglz3MBIpxw/edit">progress board</a>, my critical goals are:</p>

		<ul>

			{% for item in page.goals %}

				<li><strong>{{ item in page.goals }}</strong></li>

			{% endfor %}

		</ul>

		<p>Specifically, my tasks are:</p>

		<ul>
			
			{% for item in page.done %}

				<li class="done">{{ item in page.done }}</li>

			{% endfor %}

			{% for item in page.todo %}

				<li class="todo">{{ item in page.todo }}</li>

			{% endfor %}

		</ul>

		<p><a href="https://docs.google.com/document/d/1ODlsThUPyTygAmNrHWrnx-uo3XBcgq6qQIT7lOXSqTA/edit#heading=h.8j9kgph7k62x">Next class:</a> <strong>{{ page.nextclass }}</strong> group.

		{{ content }}

		{% if page.schedule %}

			<p><strong>Schedule:</strong></p>

			<ul>

				{% for item in page.schedule %}

					<li>{{ item }}</li>

				{% endfor %}

		{% endif %}

  </div>

</article>